*{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("me.jpg");
    height: 100vh;
    background-size: 1600px 1000px;
}
.nav-menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    color:turquoise ;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "verdana" ,"sans-serif";
    font-size: 20px;
}
.homebtn a{
    border: 1px solid grey;
    background-color:white ;
}
.nav-menu li a:hover{
    border: 1px solid grey;
    background-color:white ;
}
.tagline{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1{
    color: white;
    font-size: 25px;
    font-family:"verdana" ,"sans-serif" ;
    text-align: center;
    margin-top: 175px;
    margin-left: 200px;
}
h2{
    color: white;
    font-size: 45px;
    font-family:"verdana" ,"sans-serif" ;
    text-align: center;
    margin-top:0px;
    margin-left: 220px;
}
.adopt{
    margin-top: 30px;
    margin-left: 630px;
}
.bttn{
    border: 1px solid white;
    padding: 10px 30px;
    color:yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-decoration: none;
}
.adopt a:hover{
    background-color:rgb(211, 236, 173);
}
.logo{
  margin-top: 10px;
}